@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* 1. Colores principales */
  --color-brand-green: #324034;
  --color-brand-gold: #A68660;
  --color-brand-gray: #8C7E72;
  --color-brand-beige: #BFB8AA;
  --color-brand-offwhite: #F2F2F2;

  /* 2. Tipografías principales - Se definen como "familias" para Tailwind v4 */
  --font-heading: var(--font-mitchaella), ui-serif, Georgia, serif;
  --font-body: var(--font-made-evolve), ui-sans-serif, system-ui, sans-serif;
}

/* Estilos base para que el fondo y el texto se apliquen por defecto en toda la web */
@layer base {
  body {
    background-color: var(--color-brand-offwhite);
    color: var(--color-brand-green);
    font-family: var(--font-made-evolve), ui-sans-serif, system-ui, sans-serif;
  }
}